.p-tabmenu-nav{
  justify-content: flex-end;
}

.card{
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;

}

header > h5{
  color: #0ab4ec;
  font-size: 90%;
}

header > p{
  font-size: 1.5em;
  width: 30%;
}

header{
  margin-left: 20%;
  width: 40%;
}
.fimg{
  width: 90%;
  border-radius: 10px;

}

.dimg{
  display: flex;
  justify-content: space-around;
}

.seconddiv{
  width: 20%;
  margin-left: 20%;
}

.email{
  display: flex;
}

.email > input{
  width: 70%;
}
.email > button{
  width: 30%;
  background-color: #0ab4ec;
}
#username-help{
  color: grey;
}